@font-face {
    font-family: bk;
    src: url(./Insanibc.ttf) format("truetype");
}
*{
    font-family: bk;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #f4ebdc;
}
.blox1,.blox2,.blox3{
    flex-grow: 1;
    font-size: 30px;
    color: white;
    border: solid;
    border-radius: 10px;
    border-color: rgb(165, 68, 29);
    background-color: rgb(165, 68, 29);
    width: 300px;
    height: 50px;
    text-align: center;
}
.logo{
    width: 250px;
}
.logo2{
    width: 130px;
    padding: 20px;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    text-align: start;
    align-items: center;
    width: 100%;
}
.child{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.child2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.bloc{
    display: flex;
    gap: 25px;
    text-align: center;
    align-items: center; 
}
button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.bloc2 p{
    padding-bottom: 15px;
}
.img1{
    height: 50px;
}
.img2{
    height: 50px;
}
#wrap {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
    
}
.header_background{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("./assets/Header_Background.png");
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 100px ;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    border: 1px solid white ;
    border-radius: 10px ;
    background-color: white;
    width: 280px;
    height: 25px;  
}
.navbar a{
    color: black;
}
.navbar a:hover{
    color: brown;
}
.h1{
    margin-top: 25px;
    color: brown;
}
.container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}
.container img{
    width: 650px;
    padding: 50px;
}
.reverse{
    flex-direction: row-reverse;
}
.text-box{
    width: 500px;
    line-height: 2em;
}
.banner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.banner img{
    width: 100%;
}

F4EBDC